[submodule "catkin_ws/src/ueye_cam"]
	path = catkin_ws/src/ueye_cam
	url = https://github.com/anqixu/ueye_cam
[submodule "catkin_ws/src/moving_targets"]
	path = catkin_ws/src/moving_targets
	url = git@github.com:byu-magicc/moving_targets.git
[submodule "catkin_ws/src/vision_opencv"]
	path = catkin_ws/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv
[submodule "catkin_ws/src/visual_mtt"]
	path = catkin_ws/src/visual_mtt
	url = git@github.com:byu-magicc/visual_mtt.git
[submodule "catkin_ws/src/flat_earth_geolocation"]
	path = catkin_ws/src/flat_earth_geolocation
	url = git@github.com:byu-magicc/flat_earth_geolocation.git
[submodule "catkin_ws/src/rviz_satellite"]
	path = catkin_ws/src/rviz_satellite
	url = https://github.com/gareth-cross/rviz_satellite
[submodule "rransac"]
	path = rransac
	url = git@github.com:byu-magicc/rransac.git
[submodule "catkin_ws/src/ardupilot_sim"]
	path = catkin_ws/src/ardupilot_sim
        url = git@github.com:byu-magicc/ardupilot_sim.git
[submodule "catkin_ws/src/state_plotter"]
        path = catkin_ws/src/state_plotter
        url = git@github.com:byu-magicc/state_plotter.git
[submodule "catkin_ws/src/gzsatellite"]
	path = catkin_ws/src/gzsatellite
	url = https://github.com/plusk01/gzsatellite
[submodule "catkin_ws/src/dss/src"]
	path = catkin_ws/src/dss/src
	url = git@github.com:nasa/Safe2Ditch.git
