[submodule "catkin_ws/src/rransac_gazebo_simulator"]
	path = catkin_ws/src/rransac_gazebo_simulator
	url = ssh://git@magiccvs.byu.edu:290/robust_tracking/rransac_gazebo_simulator.git
[submodule "catkin_ws/src/visual_mtt"]
	path = catkin_ws/src/visual_mtt
	url = ssh://git@magiccvs.byu.edu:290/robust_tracking/visual_mtt.git
[submodule "catkin_ws/src/fcu_common"]
	path = catkin_ws/src/rosflight_stack/fcu_common
	url = https://github.com/byu-magicc/fcu_common
[submodule "catkin_ws/src/relative_nav"]
	path = catkin_ws/src/rosflight_stack/relative_nav
	url = ssh://git@magiccvs.byu.edu:290/relative_nav/relative_nav.git
[submodule "catkin_ws/src/rotor_controller"]
	path = catkin_ws/src/rosflight_stack/rotor_controller
	url = ssh://git@magiccvs.byu.edu:290/relative_nav/rotor_controller.git
[submodule "catkin_ws/src/rosflight_stack/rotor_estimator"]
	path = catkin_ws/src/rosflight_stack/rotor_estimator
	url = ssh://git@magiccvs.byu.edu:290/relative_nav/rotor_estimator.git
[submodule "catkin_ws/src/rosflight_stack/joy_commander"]
	path = catkin_ws/src/rosflight_stack/joy_commander
	url = ssh://git@magiccvs.byu.edu:290/relative_nav/joy_commander.git
