*.pyc
__pycache__
*.*~
*.swp

# environment settings
.env

# APM logs (from MAVProxy)
mav.tlog
mav.tlog.raw
intruder_history.txt
mav.parm
eeprom.bin
terrain

# ROS bags
*.bag
*.bag.active
.bagnum
.testname
