[submodule "catkin_ws/src/ueye_cam"]
	path = catkin_ws/src/ueye_cam
	url = https://github.com/anqixu/ueye_cam
[submodule "catkin_ws/src/vision_opencv"]
	path = catkin_ws/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv
[submodule "catkin_ws/src/flat_earth_geolocation"]
	path = catkin_ws/src/flat_earth_geolocation
	url = ssh://git@magiccvs.byu.edu/robust_tracking/flat_earth_geolocation.git
[submodule "catkin_ws/src/state_plotter"]
    path = catkin_ws/src/state_plotter
    url = ssh://git@magiccvs.byu.edu/lab/state_plotter.git
[submodule "catkin_ws/src/dss"]
	path = catkin_ws/src/dss
	url = https://github.com/nasa/Safe2Ditch.git
	branch = IcarousIntegration
[submodule "catkin_ws/src/vn200"]
	path = catkin_ws/src/vn200
	url = https://github.com/thanedowning/vectornav.git
	branch = publish_pose_tf
