<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="gui" default="false" />
    <arg name="viz" default="true" />

    <include file="$(find nasa_s2d_sim)/launch/sitl.launch">
        <!-- NASA LaRC Back 40, VA -->
        <arg name="name" value="NASA LaRC Back 40" />
        <arg name="lat" value="37.1022496" />
        <arg name="lon" value="-76.385938" />
        <arg name="zoom" value="22" />
        <arg name="width" value="400" />
        <arg name="height" value="200" />
        <arg name="shift_ns" value="0" />
        <arg name="shift_ew" value="0" />

        <!-- MAV ENU Location -->
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="Y" value="3.14159" />

        <!-- Gazebo parameters -->
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="false" />
    </include>

    <!-- Setup DSS Configuration Paths -->
    <param name="dss/config_dir" type="string" value="$(find dss)/param" />
    <param name="dss/config_file" type="string" value="n40_config.json" />

    <!-- Spawn moving agents -->
    <include file="$(find nasa_s2d_sim)/launch/movers_nasa.launch" />

    <!-- Launch Safe2Ditch core system -->
    <include file="$(find nasa_s2d)/launch/safe2ditch.launch">
        <arg name="vmtt_tuning" value="false" />
    </include>

    <group if="$(arg viz)">
        <!-- Safe2Ditch Visualization in rviz -->
        <include file="$(find nasa_s2d)/launch/visualization.launch"  />
    </group>

    <group unless="$(arg viz)">
        <!-- Heads-up Display -->
        <node pkg="hud" type="hud" name="$(anon hud)">
            <remap from="odom" to="mavros/global_position/local" />
            <param name="image_transport" value="compressed" />
        </node>
    </group>

</launch>