<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Spawn in Gazebo -->
    <include file="$(find moving_targets)/launch/spawn_mover.launch">
        <arg name="name"    value="parker" />
        <arg name="model"   value="$(find moving_targets)/models/moving_person_walking/model.sdf" />
        <arg name="x"       value="2"/>
        <arg name="y"       value="0"/>
        <arg name="z"       value="0"/>
        <arg name="yaw"     value="0"/>
    </include>
    <!-- Set parameters for the mover -->
    <group ns="parker">
        <!-- Trajectory type: waypoints -->
        <param name="trajectory_type" type="int" value="1" />
        <param name="x" type="double" value="2" />
        <param name="y" type="double" value="0" />
        <param name="vx" type="double" value="2.25" />
        <param name="vy" type="double" value="2.25" />
        <rosparam param="waypoints_x">[0, 2.5, 2.5, 0, 0]</rosparam>
        <rosparam param="waypoints_y">[0, 0, 2.5, 2.5, 0]</rosparam>
    </group>


    <!-- Spawn in Gazebo -->
    <include file="$(find moving_targets)/launch/spawn_mover.launch">
        <arg name="name"    value="trish" />
        <arg name="model"   value="$(find moving_targets)/models/moving_person_walking/model.sdf" />
        <arg name="x"       value="-6"/>
        <arg name="y"       value="0"/>
        <arg name="z"       value="0"/>
        <arg name="yaw"     value="0"/>
    </include>
    <!-- Set parameters for the mover -->
    <group ns="trish">
        <!-- Trajectory type: waypoints -->
        <param name="trajectory_type" type="int" value="1" />
        <param name="x" type="double" value="-6" />
        <param name="y" type="double" value="0" />
        <param name="vx" type="double" value="0.75" />
        <param name="vy" type="double" value="0.75" />
        <rosparam param="waypoints_x">[0, -2, -4, -4, -2, 0]</rosparam>
        <rosparam param="waypoints_y">[0, -0.5, -1.5,  1.5,  0.5, 0]</rosparam>
    </group>

    <!-- Spawn in Gazebo -->
    <include file="$(find moving_targets)/launch/spawn_mover.launch">
        <arg name="name"    value="nerissa" />
        <arg name="model"   value="$(find moving_targets)/models/moving_person_standing/model.sdf" />
        <arg name="x"       value="0"/>
        <arg name="y"       value="8"/>
        <arg name="z"       value="0"/>
        <arg name="yaw"     value="0"/>
    </include>
    <!-- Set parameters for the mover -->
    <group ns="nerissa">
        <!-- Trajectory type: circle -->
        <param name="trajectory_type" type="int" value="2" />
        <param name="radius" type="double" value="2" />
        <param name="x" type="double" value="0" />
        <param name="y" type="double" value="8" />
    </group>
</launch>