<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Choose between `rockcanyon` or `nasa -->
    <arg name="world" default="nasa" />
    <arg name="gui" default="false" />

    <group if="$(eval arg('world') == 'rockcanyon')">
        <include file="$(find nasa_s2d_sim)/launch/sitl.launch">
            <!-- Rock Canyon Park, Provo, UT -->
            <arg name="name" value="Rock Canyon Park" />
            <arg name="lat" value="40.268041" />
            <arg name="lon" value="-111.635624" />
            <arg name="zoom" value="22" />
            <arg name="width" value="250" />
            <arg name="height" value="250" />
            <arg name="shift_ns" value="0" />
            <arg name="shift_ew" value="0" />

            <!-- MAV ENU Location -->
            <arg name="x" value="0" />
            <arg name="y" value="0" />
            <arg name="Y" value="-1.5708" />

            <!-- Gazebo parameters -->
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="false" />
        </include>

        <!-- Setup DSS Configuration Paths -->
        <param name="dss/config_dir" type="string" value="$(find dss)/param" />
        <param name="dss/config_file" type="string" value="rock_canyon_config.json" />

        <!-- Spawn moving agents -->
        <include file="$(find nasa_s2d_sim)/launch/movers_rockcanyon.launch" />
    </group>

    <group if="$(eval arg('world') == 'nasa')">
        <include file="$(find nasa_s2d_sim)/launch/sitl.launch">
            <!-- NASA LaRC Back 40, VA -->
            <arg name="name" value="NASA LaRC Back 40" />
            <arg name="lat" value="37.1022496" />
            <arg name="lon" value="-76.385938" />
            <arg name="zoom" value="22" />
            <arg name="width" value="300" />
            <arg name="height" value="200" />
            <arg name="shift_ns" value="0" />
            <arg name="shift_ew" value="0" />

            <!-- MAV ENU Location -->
            <arg name="x" value="0" />
            <arg name="y" value="0" />
            <arg name="Y" value="3.14159" />

            <!-- Gazebo parameters -->
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="false" />
        </include>

        <!-- Setup DSS Configuration Paths -->
        <param name="dss/config_dir" type="string" value="$(find dss)/param" />
        <param name="dss/config_file" type="string" value="n40_config.json" />

        <!-- Spawn moving agents -->
        <include file="$(find nasa_s2d_sim)/launch/movers_nasa.launch" />
    </group>




    <!-- Launch Safe2Ditch core system -->
    <include file="$(find nasa_s2d)/launch/safe2ditch.launch">
        <arg name="vmtt_tuning" value="false" />
    </include>



    <!-- Safe2Ditch Visualization in rviz -->
    <include file="$(find nasa_s2d)/launch/visualization.launch" />

</launch>