<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Choose between `rockcanyon` or `nasa -->
    <arg name="world" default="rockcanyon" />

    <group if="$(eval arg('world') == 'rockcanyon')">
        <include file="$(find nasa_s2d_sim)/launch/sitl.launch">
            <!-- Rock Canyon Park, Provo, UT -->
            <arg name="name" value="Rock Canyon Park" />
            <arg name="lat" value="40.268041" />
            <arg name="lon" value="-111.635624" />
            <arg name="zoom" value="22" />
            <arg name="width" value="200" />
            <arg name="height" value="280" />
            <arg name="shift_ns" value="0" />
            <arg name="shift_ew" value="0" />

            <!-- MAV ENU Location -->
            <arg name="x" value="0" />
            <arg name="y" value="-120" />
            <arg name="Y" value="1.5708" />

            <!-- Gazebo parameters -->
            <arg name="gui" value="false" />
            <arg name="paused" value="false" />
        </include>
    </group>

    <group if="$(eval arg('world') == 'nasa')">
        <include file="$(find nasa_s2d_sim)/launch/sitl.launch">
            <!-- NASA LaRC Back 40, VA -->
            <arg name="name" value="NASA LaRC Back 40" />
            <arg name="lat" value="37.102250" />
            <arg name="lon" value="-76.387290" />
            <arg name="zoom" value="22" />
            <arg name="width" value="300" />
            <arg name="height" value="200" />
            <arg name="shift_ns" value="0" />
            <arg name="shift_ew" value="0" />

            <!-- MAV ENU Location -->
            <arg name="x" value="120" />
            <arg name="y" value="0" />
            <arg name="Y" value="3.14159" />

            <!-- Gazebo parameters -->
            <arg name="gui" value="false" />
            <arg name="paused" value="false" />
        </include>
    </group>

    <!-- Spawn moving agents -->
    <include file="$(find nasa_s2d_sim)/launch/movers.launch" />

    <!-- Start mavros and connect to a SITL Pixhawk running APM:Copter -->
    <include file="$(find nasa_s2d)/launch/mavros.launch">
        <arg name="fcu_url"  value="udp://127.0.0.1:14550@" />
    </include>

    <!-- <node name="gcs_bridge" pkg="mavros" type="gcs_bridge"> -->
        <!-- You can connect locally using localhost on port 14550 -->
        <!-- <param name="gcs_url" value="udp://@127.0.0.1:14555" /> -->
    <!-- </node> -->

    <!-- Run a series of mavros mavsys commands to increase sensor pub rate -->
    <node name="gofast" pkg="nasa_s2d" type="gofast.sh" output="screen" />

    <!-- launch visual_mtt -->
    <include file="$(find visual_mtt)/launch/visual_mtt.launch">
        <arg name="params" value="$(find nasa_s2d)/param/sully.yaml" />
        <arg name="tuning" value="false" />
        <arg name="imgtopic" value="/camera/image_raw" />
    </include>

    <!-- launch geolocation components -->
    <group if="true">
        <include file="$(find nasa_s2d)/launch/geolocate.launch">
            <arg name="show3d" value="true" />
        </include>
    </group>

    <!-- Visual Obstacle Detection -->
    <node name="obstacle_detection" pkg="nasa_s2d" type="obstacle_detection.py" />

    <!-- DSS Communications -->
    <node name="dss_comms" pkg="nasa_s2d" type="dss_comms.py" />

    <!-- HUD -->
    <node pkg="hud" type="hud" name="hud">
        <remap from="odom" to="/mavros/global_position/local" />
    </node>

    <!-- Adaptive Parameter Tuning -->
    <node pkg="nasa_s2d" type="adaptive_params.py" name="adaptive_params">
        <remap from="odom" to="/mavros/global_position/local" />
    </node>
</launch>