<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Rock Canyon Park, Provo, UT -->
    <arg name="name"        default="Rock Canyon Park" />
    <arg name="lat"         default="40.267987" />
    <arg name="lon"         default="-111.635558" />
    <arg name="zoom"        default="21" />
    <arg name="width"       default="300" />
    <arg name="height"      default="300" />
    <arg name="shift_ns"    default="-0.20" />
    <arg name="shift_ew"    default="0" />

    <!-- MAV ENU Location -->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="Y" default="0" />

    <!-- Gazebo parameters -->
    <arg name="gui" default="true" />
    <arg name="paused" default="false" />

    <!-- Run the APM provided `sim_vehicle.py` SITL command -->
    <node pkg="nasa_s2d_sim" type="copter_sitl.sh" name="copter_sitl" args="'$(arg name)' $(arg lat),$(arg lon)" />

    <group ns="/gzsatellite">
        <param name="name" type="string" value="$(arg name)" />
        <param name="jpg_quality" type="double" value="60" />
        <param name="tileserver"  type="string" value="http://mt1.google.com/vt/lyrs=s&amp;x={x}&amp;y={y}&amp;z={z}" />
        <param name="latitude"    type="double" value="$(arg lat)" />
        <param name="longitude"   type="double" value="$(arg lon)" />
        <param name="zoom"        type="double" value="$(arg zoom)" />
        <param name="width"       type="double" value="$(arg width)" />
        <param name="height"      type="double" value="$(arg height)" />
        <param name="shift_ns"    type="double" value="$(arg shift_ns)" />
        <param name="shift_ew"    type="double" value="$(arg shift_ew)" />
    </group>

    <!-- Start Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gzsatellite)/worlds/satellite.world"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- Spawn in Gazebo -->
    <include file="$(find ardupilot_sim)/launch/spawn_mav.launch">
        <arg name="mav_name"            value="sully" />
        <arg name="model"               value="$(find nasa_s2d_sim)/agents/sully/sully.xacro" />
        <arg name="x"                   value="$(arg x)"/>
        <arg name="y"                   value="$(arg y)"/>
        <arg name="z"                   value="0.2"/>
        <arg name="yaw"                 value="$(arg Y)"/>
        <arg name="color"               value="Black"/>
    </include>

</launch>