[Unit]
Description="Safe2Ditch Flight System: DSS MAVProxy and VAL ROS"
After=network.target

[Service]
Type=simple
User=nvidia
Group=nvidia
WorkingDirectory=/home/nvidia/dev/safe2ditch/startup
ExecStart=/home/nvidia/dev/safe2ditch/startup/rosboot.sh
ExecSignal=INT

[Install]
WantedBy=default.target
