<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="show3d"      default="false" />
    <arg name="heading"     default="" />
    <arg name="altitude"    default="" />

    <!-- show3d:          Show the rviz vizualization of the geolocated targets -->
    <!-- heading:         Optional ENU heading overriding (for bad compass data)-->
    <!-- altitude:        Optional ENU altitude offset                          -->

    <!-- ###################################################################### -->

    
    <!-- Broadcast coordinate transformations specific to Sully -->
    <!-- Needed for geolocation, useful for RVIZ visualization -->
    <include file="$(find nasa_s2d)/launch/tf_frames.launch" />


    <!-- connect the geolocator to the output of visual_mtt -->
    <remap from="video" to="camera_sim/image_raw" />
    <remap from="pose"  to="mavros/local_position/pose" />
    <include file="$(find flat_earth_geolocation)/launch/geolocate.launch">
        <arg name="show3d" value="$(arg show3d)" />
    </include>


    <!-- Call ROS Service to set UAV position offsets and heading override -->
    <group if="$(eval str(arg('heading')) is not '' or str(arg('altitude')) is not '')">

        <arg     if="$(eval str(arg('heading')) is not '')" name="hdg" value="$(arg heading)" />
        <arg unless="$(eval str(arg('heading')) is not '')" name="hdg" value="360" /> <!-- 360 prevents overriding -->

        <arg     if="$(eval str(arg('altitude')) is not '')" name="alt" value="$(arg altitude)" />
        <arg unless="$(eval str(arg('altitude')) is not '')" name="alt" value="0" />

        <node pkg="rosservice" type="rosservice" name="srv_uav_pose"
            args="call --wait /sully_tf_frames/set_uav_pose '{ heading_enu: $(arg hdg), offset_enu: { x: 0, y: 0, z: $(arg alt)} }'" />
    </group>
</launch>