<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Environment variables to be set as parameters -->
    <param name="dss/config_dir" type="string" value="$(eval env('S2DDSS') + '/' + env('S2DAIRCRAFT'))" />
    <param name="dss/config_file" type="string" value="config.json" />
    
    <!-- Connect to HW using MAVProxy, expose UDP pipe to mavros -->
    <node name="mavproxy" pkg="nasa_s2d" type="mavproxy_launcher.sh" />

    <!-- Connect to ueye camera and publish camera/image_raw topic and camera_info -->
    <include file="$(find nasa_s2d)/launch/run-camera.launch" />

    <!-- Kick off the Safe2Ditch system: DSS and VAL -->
    <include file="$(find nasa_s2d)/launch/safe2ditch.launch" />
</launch>
