<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Start mavros and connect to a Pixhawk running APM:Copter -->
    <include file="$(find nasa_s2d)/launch/mavros.launch">
        <!-- Pixhawk is on TX2 UART 1 -->
        <!-- Baud is set by SERIAL2_BUAD param in APM:Copter -->
        <arg name="fcu_url"  value="/dev/ttyTHS2:921600" />
    </include>

    <node name="gcs_bridge" pkg="mavros" type="gcs_bridge">
    <!-- You can connect locally using localhost on port 14550 -->
        <param name="gcs_url" value="udp://@localhost" />
    </node>

    <!-- Run a series of mavros mavsys commands to increase sensor pub rate -->
    <node name="gofast" pkg="nasa_s2d" type="gofast.sh" output="screen" />

    <!-- Connect to ueye camera and publish camera/image_raw topic and camera_info -->
    <include file="$(find nasa_s2d)/launch/run-camera.launch" />

    <!-- launch visual_mtt -->
    <include file="$(find visual_mtt)/launch/visual_mtt.launch">
        <arg name="params" value="$(find nasa_s2d)/param/sully.yaml" />
        <arg name="tuning" value="false" />
        <arg name="imgtopic" value="/camera/image_raw" />
    </include>

    <!-- launch geolocation -->
    <include file="$(find nasa_s2d)/launch/geolocate.launch">
        <arg name="camera_name" value="camera" />
    </include>

</launch>
