<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="bagroot"             default="$(eval env('HOME') + '/Documents/bags/nasa/')" />
    <arg name="bagname"             default="run3.bag" />
    <arg name="bagpath"             default="$(arg bagroot)/$(arg bagname)" />
    <arg name="hide_bag"            default="false" />
    <arg name="ns"                  default="review" />

    <!-- The following are useful for doing more than just viewing the data -->
    <arg name="tuning"              default="false" />
    <arg name="hide_dss"            default="false" />

    <!-- ###################################################################### -->

    <!-- make all nodes use sim time -->
    <param name="use_sim_time" type="bool" value="true" />

    <!-- launch-prefix settings for xterm, with ability to be hidden -->
    <arg if="$(arg hide_bag)"     name="prefix" value="" />
    <arg unless="$(arg hide_bag)" name="prefix" value="xterm -hold -geometry 100x20 -e" />

    <!-- Play the selected rosbag. Also, remap the camera_info topic into the review namespace -->
    <node pkg="rosbag" type="play" name="player" args="--pause $(arg bagpath) --clock" launch-prefix="$(arg prefix)">
        <remap from="camera/camera_info" to="$(arg ns)/camera/camera_info" />

        <remap from="dss/path" to="orig/path" if="$(arg hide_dss)" />
        <remap from="dss/ditch_sites" to="orig/dss/ditch_sites" if="$(arg hide_dss)" />
    </node>

    <group if="$(arg tuning)" ns="$(arg ns)">

        <!-- The video in the rosbag is compressed - this decompresses it for visual_mtt -->
        <node pkg="image_transport" type="republish" name="decompress" output="log" args="compressed in:=/camera/image_raw out:=/$(arg ns)/camera/image_raw" />

        <!-- Side-by-side tuning rqt perspective -->
        <node pkg="rqt_gui" type="rqt_gui" name="dashboard" args="--perspective-file $(find nasa_s2d)/rqt/review.perspective" />

        <!-- launch visual_mtt -->
        <include file="$(find visual_mtt)/launch/visual_mtt.launch">
            <arg name="params" value="$(find nasa_s2d)/param/sully.yaml" />
            <arg name="tuning" value="true" />
            <arg name="imgtopic" value="/$(arg ns)/camera/image_raw" />
        </include>

        <!-- Adaptive Parameter Tuning -->
        <node pkg="nasa_s2d" type="adaptive_params.py" name="adaptive_params">
            <remap from="odom" to="/mavros/global_position/local" />
        </node>

    </group>


    <!-- Safe2Ditch Visualization in rviz -->
    <include file="$(find nasa_s2d)/launch/visualization.launch" />

</launch>
