<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="bagroot"             default="$(eval env('HOME') + '/Documents/bags/nasa/')" />
    <arg name="bagname"             default="run3.bag" />
    <arg name="bagpath"             default="$(arg bagroot)/$(arg bagname)" />
    <arg name="hide_bag"            default="false" />
    <arg name="do_geolocation"      default="true" />
    <arg name="show_geolocation"    default="false" />
    <arg name="show_dashboard"      default="true" />
    <arg name="tuning"              default="true" />
    <arg name="ns"                  default="review" />

    <!-- ###################################################################### -->

    <!-- make all nodes use sim time -->
    <param name="use_sim_time" type="bool" value="true" />

    <!-- launch-prefix settings for xterm, with ability to be hidden -->
    <arg if="$(arg hide_bag)"     name="prefix" value="" />
    <arg unless="$(arg hide_bag)" name="prefix" value="xterm -hold -geometry 100x20 -e" />

    <!-- The video in the rosbag is compressed - this decompresses it for visual_mtt -->
    <node pkg="image_transport" type="republish" name="decompress" output="log" args="compressed in:=camera/image_raw out:=$(arg ns)/camera/image_raw" />

    <!-- Play the selected rosbag. Also, remap the camera_info topic into the review namespace -->
    <node pkg="rosbag" type="play" name="player" args="--pause $(arg bagpath) --clock" launch-prefix="$(arg prefix)">
      <remap from="camera/camera_info" to="$(arg ns)/camera/camera_info" />
      <remap from="/tf" to="/tf_old" />
    </node>

    <!-- launch visual_mtt in a namespace to avoid collision with recorded topics -->
    <group ns="$(arg ns)">
        <include file="$(find visual_mtt)/launch/visual_mtt.launch">
          <arg name="params"    value="$(find nasa_s2d)/param/sully.yaml" />
          <arg name="tuning"    value="$(arg tuning)" />
          <arg name="imgtopic"  value="camera/image_raw" />
        </include>

        <!-- HUD -->
        <node pkg="hud" type="hud" name="hud">
            <remap from="odom" to="/mavros/global_position/local" />
        </node>

        <!-- Adaptive Parameter Tuning -->
        <node pkg="nasa_s2d" type="adaptive_params.py" name="adaptive_params">
            <remap from="odom" to="/mavros/global_position/local" />
        </node>

        <!-- Start up a dashboard perspective -->
        <group if="$(arg show_dashboard)">
            <node pkg="rqt_gui" type="rqt_gui" name="review_dashboard" args="--perspective-file '$(find nasa_s2d)/rqt/review.perspective'" />
        </group>
    </group>

    <!-- launch geolocation components -->
    <group if="$(arg do_geolocation)">
        <include file="$(find nasa_s2d)/launch/geolocate.launch">
            <arg name="camera_name" value="$(arg ns)/camera" />
            <arg name="show3d" value="$(arg show_geolocation)" />
            <arg name="tracks_topic" value="$(arg ns)/tracks" />
        </include>
    </group>

</launch>
