<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <node pkg="nasa_s2d" type="tf_frames" name="sully_tf_frames" output="screen">
        <remap from="uav_odom"    to="mavros/local_position/odom" />
        <remap from="uav_gps_fix" to="mavros/global_position/raw/fix" />

        <!-- The next two entities are used to create the TF  -->
        <!-- link between the fcu and base_link frames in the -->
        <!-- event that local_position/odom is not published  --> 
        <remap from="uav_odom" to="mavros/global_position/local" />
        <param name="localize" value="true" />
    </node>

    <!-- Create an NED inertial map -->
    <node pkg="tf" type="static_transform_publisher" name="static_tf0" args="0 0 0 1.5708 0 3.14159 map map_ned 10" />

    <!-- Relate the inertial map (ENU) to the fcu (ENU) inertial frame -->
    <node pkg="tf" type="static_transform_publisher" name="static_tf1" args="0 0 0 0 0 0 map fcu 10" />

    <!-- Transform NWU base_link (ROS body frame) to body NED (UAV book) -->
    <node pkg="tf" type="static_transform_publisher" name="static_tf2" args="0 0 0 0 0 3.14159 base_link base_link_ned 10" />

    <!-- Transform from body NED frame into the gimbal frame. For Sully, it's a static 45 deg camera -->
    <!-- Remember that gimbal rotation uses a 3-1-2 (y-r-p) Euler angle sequence -->
    <node pkg="tf" type="static_transform_publisher" name="static_tf3" args="0 0 0 0 -0.7854 0 base_link_ned gimbal 10" />

    <!-- Transform from gimbal body-NED frame into the camera frame (right-down-optical_axis) -->
    <node pkg="tf" type="static_transform_publisher" name="static_tf4" args="0 0 0 1.5708 0 1.5708 gimbal camera 10" />
    

</launch>