<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Start the Safe2Ditch rviz environment -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nasa_s2d)/rviz/safe2ditch.rviz" />


    <!-- Plotter for visualization of geolocated tracks in rviz -->
    <node pkg="flat_earth_geolocation" type="plotter" name="plotter" output="screen">
        <remap from="tracks" to="tracks3d" />
    </node>


    <!-- Helper node to publish mission information -->
    <node pkg="nasa_s2d" type="s2dviz.py" name="s2dviz" output="screen" />


    <!-- Heads-up Display -->
    <node pkg="hud" type="hud" name="hud">
        <remap from="odom" to="mavros/global_position/local" />
        <param name="image_transport" value="compressed" />
    </node>

</launch>
