<?xml version="1.0"?>

<model>
  <name>Sequoia Tree</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Parker Lusk</name>
    <email>parkerclusk@gmail.com</email>
  </author>

  <description>
    A low-poly Sequoia tree with an image texture.
    
    Trees taken from: http://tf3dm.com/download-page.php?url=trees-9-53338
  </description>

</model>
