<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- Connect to ueye camera configured for ODROID and publish topic -->
	<include file="$(find nasa_s2d2)/launch/run-camera.launch" />

	<!-- Visual MTT with R-RANSAC -->	
	<include file="$(find visual_mtt)/launch/rransac.launch">
		<arg name="use_imu_in_sync" value="false" />

		<!-- Show the output of the camera with RRANSAC tracks overlaid -->
		<arg name="show_tracks_video" value="false" />
		<!-- Show the difference image for debugging how well the homography is doing -->
		<arg name="show_diff_img_video" value="false" />
		<!-- Show moving objects to debug LK optical flow with homography -->
		<arg name="show_moving_obj_video" value="false" />

		<!-- remap imageGyroSync image topic to what the user wants -->
		<arg name="imgtopic" value="/camera/image_raw" />
	</include>

	<!-- MAVROS -->
	<include file="$(find mavros)/launch/px4.launch">
		<!-- Connected to Pixhawk via FTDI cable to telem2 -->
		<arg name="fcu_url" value="/dev/ttyUSB0:57600" />
	</include>

	<!-- MAVROS / MAVLink stream rates -->
	<node name="mavsys1" pkg="mavros" type="mavsys" args="rate --extra1 10" />
	<node name="mavsys2" pkg="mavros" type="mavsys" args="rate --ext-status 10" />
	<node name="mavsys3" pkg="mavros" type="mavsys" args="rate --position 10" />
	<node name="mavsys4" pkg="mavros" type="mavsys" args="rate --raw-sensors 10" />

</launch>