<?xml version="1.0"?>

<model>
  <name>Rock Canyon Park</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Parker Lusk</name>
    <email>parkerclusk@gmail.com</email>
  </author>

  <description>
    A aerial image of Rock Canyon Park with no terrain (i.e., flat in the plane).
    Created by stitching 6 Google Map screen shots together in GIMP.
  </description>

</model>
