<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="mover_name" default="mover1" />
    <arg name="velocity" default="1.5" />

    <!-- You can use this (https://www.sunearthtools.com/tools/distance.php) -->
    <!-- website to calculate range and bearing between the home point and   -->
    <!-- each ditch site. Then, find the x,y distances that mover should be. -->

    <!-- Spawn in Gazebo -->
    <include file="$(find moving_targets)/launch/spawn_mover.launch">
        <arg name="name"    value="$(arg mover_name)" />
        <arg name="model"   value="$(find moving_targets)/models/moving_person_walking/model.sdf" />
        <arg name="x"       value="-88"/>
        <arg name="y"       value="7.5"/>
        <arg name="z"       value="0"/>
        <arg name="yaw"     value="0"/>
    </include>

    <!-- Set parameters for the mover -->
    <group ns="targets/$(arg mover_name)">
        <!-- Trajectory type: random waypoints -->
        <param name="trajectory_type" type="int" value="4" />
        <param name="v" type="double" value="$(arg velocity)" />
        <param name="move" type="bool" value="true"/>
        <param name="acceleration" type="double" value="1"/>
        <param name="half_plane" type="bool" value="true"/>
        <param name="collisions" type="bool" value="false"/>
        <rosparam param="waypoints_x">[-5, 5]</rosparam>
        <rosparam param="waypoints_y">[-5, 5]</rosparam>
        <rosparam param="waypoints_z">[0, 0]</rosparam>
    </group>
</launch>